$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~font-awesome/fonts";
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$brand-primary: darken(#428bca, 20%);
nav {
  a {
    color:white;
  }
}
